.menu {
    margin: 4px 0;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);

    &__list {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        @media (max-width: 1150px) {
            overflow: scroll;
          }
       
        li {
            display: flex;
            align-items: center;
            transition: 0.3s ease-in;

            a {
                display: flex;
                align-items: center;
                padding: 0 25px;
                height: 70px;
                font-size: 16px;
                color: $text-color;

                @media (max-width: 768px) {
                    font-size: 14px;
                  }

                svg {
                    margin-right: 9px;
                }

                .officeMebel {
                    width: 130px;

                    @media (max-width: 768px) {
                        width: 115px;
                      }
                }
               
            }

            button {
                padding: 0 28px;
                height: 70px;
                border: none;
                background: transparent;
                transition: 0.3s ease-in;
                cursor: pointer;
            }

            button:hover {
                svg path {
                    transition: 0.3s ease-in;
                    stroke: $white;
                }
            }
           
        }

        li:hover {
            background-color: $green;
            transition: 0.3s ease-in;

            a {
                color: $white;
                transition: 0.3s ease-in;

                svg path {
                    fill: $white;
                    transition: 0.3s ease-in;
                }
            }
        }

        .red {
            color: $red-link;
            transition: 0.3s ease-in;
        }
    }

}