.container__wrap {
    justify-content: space-between;
    

    .filter {
        width: 263px;
        padding: 20px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);

        &__title {
            margin-bottom: 20px;
            font-size: 14px;
        }

        &__title:not(:first-child) {
            margin-top: 20px;
        }

    }

    .cards {
        width: 100%;
    }
}