$text-color: #414141;
$hover-header: #817373;
$black: #000;
$white: #fff;
$orange: #fe5f1e;
$green:  #245462;
$size-color: #C4C4C4;
$red-link: #D74444;
$oldPrice-color: #ccc;
$popupFilter: #F8F8F8; 

$container-width: 90%;

$duration: 0.15s;
