
@import './variables.scss';
@import './libs/normalize.scss';

@import './components/all.scss';

body {
  background-color: $white;
}

.wrapper {
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: flex;
}

.top-navigation {
  background-color: #000;
}

.header-content {
  height: 38px;
  justify-content: space-between;
  align-items: center;

  .navigation__list {
  
    li:not(:last-child) {
      margin-right: 30px;
    }
    
    a {
      font-size: 14px;
      color: $white;
      transition: 0.3s ease-in;
    }

    a:hover {
      color: $hover-header;
      transition: 0.3s ease-in;
    }
  }

  .content__contact {

    &--tel, &--delivery {
      font-size: 14px;
      color: $white;
      transition: 0.3s ease-in;
    }

    &--tel {
      margin-right: 30px;

      svg {
        margin-right: 11px;
      }
    }

    &--delivery {
      svg {
        margin-right: 10px;
      }
    }

    &--tel:hover, &--delivery:hover {
      color: $hover-header;
    }

    &--tel:hover {
      svg path {
        stroke: $hover-header;
        transition: 0.3s ease-in;
      }
    }

    &--delivery:hover {
      svg {
        path {
          fill: $hover-header;
          transition: 0.3s ease-in;
        }
        
      }
    }
  }

}





  //   span {
  //     display: inline-block;
  //     margin-left: 7px;
  //     color: #b6b6b6;
  //     font-size: 18px;
  //   }

  //   span,
  //   svg,
  //   path {
  //     transition: all $duration ease-in-out;
  //   }

  //   &:hover {
  //     svg {
  //       path {
  //         stroke: darken($color: #b6b6b6, $amount: 50);
  //       }
  //     }
  //     span {
  //       color: darken($color: #b6b6b6, $amount: 50);
  //     }
  //   }
  // }

 

  //     .button {
  //       svg {
  //         width: 11.5px;
  //         height: 11.5px;
  //         position: relative;
  //       }
  //       &:hover,
  //       &:active {
  //         border-color: darken($color: $gray-line, $amount: 80);
  //         background-color: darken($color: $gray-line, $amount: 80);
  //       }
  //     }
  //   }
  // }

  