
@import './variables.scss';
@import './libs/normalize.scss';

@import './components/all.scss';

body {
  background-color: $white;
}

.wrapper {
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: flex;
}

.top-navigation {
  height: 38px;
  align-items: center;
  background-color: #000;
  color: #fff;
}



  //   span {
  //     display: inline-block;
  //     margin-left: 7px;
  //     color: #b6b6b6;
  //     font-size: 18px;
  //   }

  //   span,
  //   svg,
  //   path {
  //     transition: all $duration ease-in-out;
  //   }

  //   &:hover {
  //     svg {
  //       path {
  //         stroke: darken($color: #b6b6b6, $amount: 50);
  //       }
  //     }
  //     span {
  //       color: darken($color: #b6b6b6, $amount: 50);
  //     }
  //   }
  // }

 

  //     .button {
  //       svg {
  //         width: 11.5px;
  //         height: 11.5px;
  //         position: relative;
  //       }
  //       &:hover,
  //       &:active {
  //         border-color: darken($color: $gray-line, $amount: 80);
  //         background-color: darken($color: $gray-line, $amount: 80);
  //       }
  //     }
  //   }
  // }

  